<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Playlist</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <h1>Edit <%=playlist.title%>:</h1>
    <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <div>
            <label hidden for="title">Title</label>
            <input type="text" name="title" id="title" value="<%=playlist.title%>" required>
        </div>
        <div>
            <label hidden for="description">Description</label>
            <input type="text" name="description" id="description" value="<%=playlist.description%>">
        </div>
            
        <button type="submit">Save Changes</button>
    </form>
    <div class="song-list">
        <% playlist.songs.forEach(song => { %>
            <div class="song-item">
                <h4><%= song.title %></h4>
                <p>Artist: <%= song.artist %></p>
                <form action="/playlists/<%= playlist._id %>/songs/<%= song._id %>?_method=DELETE" method="POST">
                    <button type="submit">Remove</button>
                </form>
            </div>
        <% }) %>
    </div>
    <%-include('../partials/playbar.ejs')%>
    <script src="/js/clickOnPlaylist.js"></script>
    <script src="https://kit.fontawesome.com/74f211b69a.js" crossorigin="anonymous"></script>
    <audio id="global-audio" style="display:none"></audio>
    <script src="/js/player.js" defer></script>
</body>
</html>