<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Playlist</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <h1>Edit <%=playlist.title%>:</h1>
    <form class="form" action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <div class="coverArt">
            <img src="<%=playlist.coverArt%>" alt="Playlist Cover Art">
        </div>
        <table>
            <tr>
                <td>
                    <label for="title">Title</label><br>
                    <label for="description">Description</label><br>
                    <label  for="coverArt">Edit Cover Art</label><br>
                </td>
                <td>
                    <input type="text" name="title" id="title" value="<%=playlist.title%>" required><br>
                    <input type="text" name="description" id="description" value="<%=playlist.description%>"><br>
                    
                    <input type="file" name="coverArt" id="coverArt" accept="image/*"><br>
                </td>
            </tr>
        </table>
        <div>
            
            
        </div>
        <div>
            
            
        </div>
            
        <button type="submit">Save Changes</button>
    </form>
    <h2>Songs:</h2>
    <div class="songs-grid">
        <% playlist.songs.forEach(song => { %>
            
            <div class="song-item" data-src="<%=song.url%>">
                <table>
                    <tr>
                        <td>
                            <h4><%= song.title %></h4>
                        </td>
                        <td>
                            <p>Artist: <%= song.artist %></p>
                        </td>
                        <td><% if (user) { %>
                            <form 
                                action="/songs/<%= song._id %>/add-to-playlist" 
                                method="POST" 
                                class="add-to-playlist-form">
                            
                                <label for="pl-<%= song._id %>">Add to:</label>
                                <select id="pl-<%= song._id %>" name="playlistId" required>
                                <option value="" disabled selected>Choose playlist…</option>
                                <% playlists.forEach(playlist => { %>
                                    <option value="<%= playlist._id %>"><%= playlist.title %></option>
                                <% }) %>
                                </select>
                                <button type="submit">Add</button>
                                
                            </form>
                            <% if(message){ %>
                                <p class="errorMessage"><%=message%></p>
                            <%}%>
                            <% } %>
                        </td>
                        <td>
                            <button class="play-btn"><i class="fa-solid fa-play"></i></button>
                        </td>
                        <td>
                            <form action="/playlists/<%= playlist._id %>/songs/<%= song._id %>?_method=DELETE" method="POST">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                            
                    </tr>
                </table>
                    
            </div>
        <% }) %>
    </div>
    <%-include('../partials/playbar.ejs')%>
    <script src="/js/clickOnPlaylist.js"></script>
    <script src="https://kit.fontawesome.com/74f211b69a.js" crossorigin="anonymous"></script>
    <audio id="global-audio" style="display:none"></audio>
    <script src="/js/player.js" defer></script>
</body>
</html>