<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Songs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Explore Songs:</h1>
    <div class="songs-grid">
    <% songs.forEach(song => { %>
        <div class="song-item" data-src="<%=song.url%>">
            <h3><%= song.title %></h3>
            <p>Artist: <%= song.artist %></p>

            <% if (user) { %>
            <form 
                action="/songs/<%= song._id %>/add-to-playlist" 
                method="POST" 
                class="add-to-playlist-form"
            >
                <label for="pl-<%= song._id %>">Add to:</label>
                <select id="pl-<%= song._id %>" name="playlistId" required>
                <option value="" disabled selected>Choose playlist…</option>
                <% playlists.forEach(playlist => { %>
                    <option value="<%= playlist._id %>"><%= playlist.title %></option>
                <% }) %>
                </select>
                <button type="submit">Add</button>
                
            </form>
            <% } %>
            <button class="play-btn"><i class="fa-solid fa-play"></i></button>
        </div>
        <% }) %>
    </div>
    <%-include('../partials/playbar.ejs')%>
    <script src="/js/clickOnPlaylist.js"></script>
    <script src="https://kit.fontawesome.com/74f211b69a.js" crossorigin="anonymous"></script>
    <audio id="global-audio" style="display:none"></audio>
    <script src="/js/player.js" defer></script>
</body>
</html>