<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Explore Playlists:</h1>
    <div class="playlists-grid">
        <% playlists.forEach(playlist => { %>
        <div class="playlist-card">
            <a href="/playlists/<%= playlist._id %>"><%= playlist.title %> by <%= playlist.owner.username %></a>
            <img src="<%=playlist.coverArt%>" alt="<%= playlist.title %> cover art">
            <div class="playlist-title"><%=playlist.title%></div>
            
        </div>
    <% }) %>
    </div>
</body>
</html>