<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Explore Playlists:</h1>
    <div class="playlists-grid">
        <% playlists.forEach(playlist => { %>
        <div class="playlist-card"
            data-url = "/playlists/<%= playlist._id %>"
            style ="cursor: pointer;"
            >
            <div class="coverArt">
                <img src="<%=playlist.coverArt || DEFAULT_PLAYLIST_COVER%>" alt="<%= playlist.title %> cover art">
            </div>
            
            <% if (user) { %>
                <form 
                action="/playlists/<%=playlist._id%>/bookmarks/<%=user._id%>?_method=<%= playlist.userBookmarks.includes(user._id) ? 'DELETE' : 'POST' %>" 
                method="POST"
                class="bookmark-form"
                >
                <button type="submit" class="bookmark-btn" aria-label="Bookmark">
                    <i class="fa-<%= playlist.userBookmarks.includes(user._id) ? 'solid' : 'regular' %> fa-bookmark"></i>
                </button>
                </form>
            <% } %>
            <div class="playlist-title"><%=playlist.title%></div>
            <div class="playlist-owner">Created by: <%=playlist.owner.username%></div>
        </div>
        <% }) %>
    </div>
    <h1>Popular Playlists:</h1>
    <div class="playlists-grid">
        <% topTenPlaylists.forEach(playlist => { %>
        <div class="playlist-card"
            data-url = "/playlists/<%= playlist._id %>"
            style ="cursor: pointer;"
            >
            <div class="coverArt">
                <img src="<%=playlist.coverArt || DEFAULT_PLAYLIST_COVER%>" alt="<%= playlist.title %> cover art">
            </div>
            
            <% if (user) { %>
                <% const bookmarks = playlist.userBookmarks || [];%>
                <% const isBookmarked = bookmarks.map(u=>u.toString()).includes(user._id.toString());%>
                <form action="/playlists/<%=playlist._id%>/bookmarks/<%=user._id%>?_method=<%= isBookmarked ? 'DELETE' : 'POST' %>"
                method="POST"
                class="bookmark-form"
                >
                <button type="submit" class="bookmark-btn" aria-label="Bookmark">
                    <i class="fa-<%= isBookmarked ? 'solid' : 'regular' %> fa-bookmark"></i>
                </button>
                </form>
            <% } %>
            <div class="playlist-title"><%=playlist.title%></div>
            <div class="playlist-owner">Created by: <%=playlist.owner.username%></div>
        </div>
        <% }) %>
    </div>
    <%-include('../partials/playbar.ejs')%>
    <script src="/js/clickOnPlaylist.js"></script>
    <script src="https://kit.fontawesome.com/74f211b69a.js" crossorigin="anonymous"></script>
    <audio id="global-audio" style="display:none"></audio>
    <script src="/js/player.js" defer></script>
</body>
</html>