<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=playlist.title%></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="coverArt">
        <img src="<%= playlist.coverArt || DEFAULT_PLAYLIST_COVER%>" alt="<%=playlist.title%>'s cover art">
    </div>
    
    <h1><%=playlist.title%></h1>
    <h3><%=playlist.description%></h3>

    <div class="songs-grid">
        <% playlist.songs.forEach(song => { %>
            <div class="song-item" data-src="<%= song.url %>">
                <table>
                    <tr>
                        <td>
                            <h3><%= song.title %></h3>
                        </td>
                        <td>
                            <p>Artist: <%= song.artist %></p>
                        </td>
                        <td><% if (user) { %>
                            <form 
                                action="/songs/<%= song._id %>/add-to-playlist" 
                                method="POST" 
                                class="add-to-playlist-form">
                            
                                <label for="pl-<%= song._id %>">Add to:</label>
                                <select id="pl-<%= song._id %>" name="playlistId" required>
                                <option value="" disabled selected>Choose playlist…</option>
                                <% playlists.forEach(playlist => { %>
                                    <option value="<%= playlist._id %>"><%= playlist.title %></option>
                                <% }) %>
                                </select>
                                <button type="submit">Add</button>
                                
                            </form>
                            <% } %>
                        </td>
                        <td>
                            <button class="play-btn"><i class="fa-solid fa-play"></i></button>
                        </td>
                    </tr>
                </table>
                
                
                
            </div>
    <% }) %>
    </div>
    
    <% if (user && user._id == playlist.owner._id) { %>
        <div class="playlistOptions">
            <a href="/songs/show">+ Explore more songs</a>
            <a href="/songs/new">Upload music</a>
            <a href="/playlists/<%=playlist._id%>/edit">Edit Playlist</a>
            <form class="deleteButton" action="/playlists/<%=playlist._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete Playlist</button>
            </form>
            </div>
        
    <% } %>

    <%-include('../partials/playbar.ejs')%>
    <script src="/js/clickOnPlaylist.js"></script>
    <script src="https://kit.fontawesome.com/74f211b69a.js" crossorigin="anonymous"></script>
    <audio id="global-audio" style="display:none"></audio>
    <script src="/js/player.js" defer></script>
</body>
</html>